@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #252a37;
}

.login-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  height: 25vw;
  padding-top: 3vw;
  background: #e3e3e3;
}

/*input styles*/
::ng-deep .mat-form-field{
  font-size: 1vw;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #252a37 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #252a37 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #252a37 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  align-items: center;
  background: whitesmoke;
  width: 17vw;
  height: 3.5vw;
}

.mat-form-field button{
  margin-top: -0.4vw;
}

.login-panel .submit-button{
  width: 17vw;
  height: 3vw;
  font-size: 1vw;
  background: whitesmoke;
}

.logo{
  margin-bottom: 2.5vw;
  font-family: 'East Sea Dokdo', cursive;
  color: white;
  font-size: 8vw;
}

@media only screen and (min-width: 2300px){
  .login-panel{
    width: 552px;
    height: 575px;
  }

  ::ng-deep .mat-form-field{
    font-size: 25px;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    width: 391px;
    height: 80px;
  }

  .mat-form-field button{
    margin-top: -19px;
  }
  .login-panel .submit-button{
    width: 391px;
    height: 80px;
    font-size: 23px;
  }

  .logo{
    margin-bottom: 56px;
    font-size: 179px;
  }
}

@media only screen and (max-width: 960px) {
  .login-panel{
    width: 36vw;
    height: 37vw;
    padding-top: 3vw;
  }

  ::ng-deep .mat-form-field{
    font-size: 1.5vw;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    width: 25vw;
    height: 5.5vw;
  }

  .mat-form-field button{
    margin-top: -0.7vw;
  }

  .login-panel .submit-button{
    width: 25vw;
    height: 5.5vw;
    font-size: 2vw;
  }

  .logo{
    margin-bottom: 4vw;
    font-size: 13.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .login-panel{
    width: 70vw;
    height: 80vw;
    padding-top: 10vw;
  }

  ::ng-deep .mat-form-field{
    font-size: 3vw;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    width: 55vw;
    height: 11vw;
  }

  .mat-form-field button{
    margin-top: -1.3vw;
  }

  .login-panel .submit-button{
    width: 55vw;
    height: 11vw;
    font-size: 4vw;
  }

  .logo{
    margin-bottom: 7vw;
    font-size: 25vw;
  }
}



