.news-container{
    min-width: 200px;
    width: 70vw;
    max-width: 300px;
    min-height: 400px; 
    background-color: #FFF;
    border: 1px solid #eee; 
    border-radius: 7px;
    box-shadow: 0px 6px 15px -8px rgb(66 68 90);
    overflow-wrap: break-word;
}

.news-container:hover{
    transform: scale(1.05);
}

.news__img img{
    position: relative;
    top: -1px;
    width: 100%;
    border-radius: 7px;
}

.news__title{
    margin: 0;
    padding: 0 1em;
    text-align: center;
}

.news__content{
    padding: 0.5em 1.2em;
    font-size: 0.8em;
}
