<app-main-nav>


  <div class="alerts">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alerts
        </mat-panel-title>
        <mat-panel-description>
          You have 3 messages
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-expansion-panel-item">
        <div class="mat-expansion-panel-item__nr">1.</div>
        <div class="mat-expansion-panel-item__msg">
          Terrarium 1 - Low water level in the container
        </div>
        <div class="mat-expansion-panel-item__ico">
          <img src="assets/homeAssets/arrow_forward.svg" alt="arrow_icon">
        </div>
      </div>
      <div class="mat-expansion-panel-item">
        <div class="mat-expansion-panel-item__nr">2.</div>
        <div class="mat-expansion-panel-item__msg">
          Terrarium 1 - Low humidity level in the terrarium
        </div>
        <div class="mat-expansion-panel-item__ico">
          <img src="assets/homeAssets/arrow_forward.svg" alt="arrow_icon">
        </div>
      </div>
      <div class="mat-expansion-panel-item">
        <div class="mat-expansion-panel-item__nr">3.</div>
        <div class="mat-expansion-panel-item__msg">
          Terrarium 2 - Terrarium is overheated
        </div>
        <div class="mat-expansion-panel-item__ico">
          <img src="assets/homeAssets/arrow_forward.svg" alt="arrow_icon">
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <a [routerLink]="'news/' + lastNews.id"  *ngIf="lastNews != null">
    <div class="news-top">
      <picture>
        <source media="(max-width: 768px)" srcset="{{lastNews.imgThumbnailMobile}}">
        <img src="{{lastNews.imgThumbnail}}" class="news-top__img" alt="company_logo">
      </picture>
      <div class="news-top-content">
        <div class="news-top__title">
          <h2>{{lastNews.title}}</h2>
        </div>
        <div class="news-top__text">
          <div [innerHTML]="lastNews.shortContent"></div>
        </div>
        <div class="news-top__footer">
          {{lastNews.createUser}}<br>
          {{lastNews.createDate | date}} | {{lastNews.readTime}} min read
        </div>
      </div>
    </div>
  </a>

  <div class="news-bottom-container">
    <ng-container *ngIf="newsList != null">
      <ng-container *ngFor="let news of newsList._embedded.newsList.reverse()">
        <a [routerLink]="'news/' + news.id">
          <div class="news-bottom-item">
            <picture>
              <source media="(max-width: 768px)" srcset="{{news.imgThumbnailMobile}}">
              <img src="{{news.imgThumbnail}}" class="news-top__img" alt="company_logo">
            </picture>
            <div class="news-bottom-item-content">
              <div class="news-bottom-item__title">
                <h2>{{news.title}}</h2>
              </div>
              <div class="news-bottom-item__text">
                <div [innerHTML]="news.shortContent"></div>
              </div>
              <div class="news-bottom-item__footer">
                {{news.createUser}}<br>
                {{news.createDate | date}} | {{news.readTime}} min read
              </div>
            </div>
          </div>
        </a>
      </ng-container>
    </ng-container>
  </div>
</app-main-nav>
