@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.alerts{
  height: auto;
  width: 70vw;
  margin: 2vh auto 0 auto;
  background: #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.alerts__title{
  height: 35px;
  width: 70vw;
  margin-bottom: 0.5vh;
  padding: 4px 0 0 6px;
  background: #56af4c;
}

.alerts__title h3{
  color: white;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

.alerts__content{
  padding: 0.5vh 0.5vw 0.5vw 0.5vh;
  font-family: sans-serif;
}

.news-top{
  display: flex;
  height: 360px;
  width: 70vw;
  margin: 5vh auto 5vh auto;
  background: #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.news-top:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

img.news-top__img{
  height: 360px;
}

.news-top-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news-top__title h2{
  flex: none;
  margin: 20px 0;
  padding: 5px;
  font-size: 3vw;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.news-top__text{
  flex: auto;
  padding: 0 10px;
  font-size: 1.2vw;
}

.news-top__footer {
  flex: none;
  padding: 0 0 5px 10px;
  color: gray;
  font-size: 1vw;
}

.news-bottom-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.news-bottom-item{
  height: auto;
  width: 330px;
  margin: 0 20px 50px 20px;
  background: #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.news-bottom-item:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.news-bottom-item img{
  height: 200px;
  width: 330px;
}

.news-bottom-item-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.news-bottom-item__title h2{
  flex: none;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: bold;
}

.news-bottom-item__text{
  flex: auto;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 15px;
}

.news-bottom-item__footer{
  flex: none;
  margin-top: 50px;
  padding: 0 0 5px 10px;
  font-size: 13px;
  font-family: sans-serif;
  color: gray;
}

@media only screen and (max-width: 960px) {

  .alerts{
    width: 90vw;
  }
  .alerts__title{
    width: 90vw;
  }

  .news-top{
    width: 90vw;
  }

  .news-top__title h2{
    font-size: 35px;
  }

  .news-top__text{
    font-size: 15px;
  }

  .news-top__footer{
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .news-top{
    display: block;
    height: auto;
    width: 330px;
    margin: 50px auto 50px auto;
    background: #efefef;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .news-top-content{
    position: relative;
    width: 100%;
  }

  img.news-top__img{
    height: 200px;
    width: 330px;
  }

  .news-top__title h2{
    margin: 0;
    padding: 0 5px;
    font-size: 28px;
  }

  .news-top__text{
    margin-top: 10px;
    padding: 0 10px;
    font-size: 15px;
  }

  .news-top__footer {
    margin-top: 50px;
    font-size: 13px;
  }
}





