@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.alerts{
  margin: 2vh auto 0 auto;
  background: #efefef;
  width: 70vw;
  height: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.alerts__title{
  background: #56af4c;
  width: 70vw;
  height: 35px;
  padding: 0.5vh 0 0 0.5vw;
  margin-bottom: 0.5vh;
}

.alerts__title h3{
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.alerts__content{
  padding: 0.5vh 0.5vw 0.5vw 0.5vh;
}

.news-top{
  background: #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 70vw;
  height: 50vh;
  margin: 5vh auto 0 auto;
  display: flex;
}

.news-top-content{
  width: 100%;
}

img.news-top__img{
  height: 50vh;
}

.news-top__title h3{
  padding: 1.5vh 1.5vw 0 1.5vw;
  font-size: 3vw;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.news-top__text{
  height: 25vh;
  padding: 0 1.5vw 0 1.5vw;
  font-size: 1.2vw;
}

.news-top__footer{
  padding: 0 1.5vw 0 1.5vw;
}

@media only screen and (max-width: 960px) {

  .alerts{
    width: 90vw;
  }
  .alerts__title{
    width: 90vw;
  }

  .news-top{
    width: 90vw;
  }
}

@media only screen and (max-width: 768px){
  .news-top{
    display: block;
  }

}





