@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

/*.terra-details-container{*/
/*  background-color: red;*/
/*}*/
/*.terra-details-top-left{*/
/*  background-color: green;*/
/*}*/
/*.terra-details-top-middle{*/
/*  background-color: yellow;*/
/*}*/
/*.terra-details-top-right{*/
/*  background-color: pink;*/
/*}*/
/*.terra-details-top-right-ico{*/
/*  background-color: #475571;*/
/*}*/
/*.terra-details-top-right-slider-container{*/
/*  background-color: #475571;*/
/*}*/

.terra-details-container{
  display: flex;
  flex-direction: column;
}

.terra-details-container hr{

  width: 90%;
  height: 1.5px;
  margin-top: 30px;
  background-color: rgba(144, 143, 143, 0.5);
  border: none;
  border-radius: 5px;
}

.terra-details-top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.terra-details-top-left{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.terra-details-top-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vw;
  padding-right: 2vw;
}

.terra-details-top-left-container .robot-img{
  height: 10vw;
  width: 10vw;
  margin-bottom: 0.5vw;
}

.terra-details-top-left span{
  margin-top: 0.5vw;
}

.terra-details-top-middle{
  display: flex;
  justify-content: center;
  width: 40vw;
}

.terra-details-top-middle .terra-img{
  height: 17vw;
  width: 35vw;
}

.terra-details-top-right{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.terra-details-top-right-slider-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vw;
  padding-top: 10px;
}

.terra-details-top-right-bulb-tear-icon{
  height: 2.8vw;
  width: 2.1vw;
}

.terra-details-top-right-bulb-tear-icon__fill{
  position: absolute;
  height: 2.8vw;
  width: 2.1vw;
}

.terra-details-top-right-sun-icon{
  height: 2.8vw;
  width: 3vw;
}

.terra-details-top-right-sun-icon__fill{
  position: absolute;
  height: 2.8vw;
  width: 3vw;
}

.terra-details-top-right input{
  width: 2.1vw;
  height: 2vw;
  margin-top: 5px;
  background: #e3e3e3;
  border: 1px solid #898888;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9vw;
}

.terra-details-top-right input:focus{
  outline: none;
  border: 1.2px solid #898888;
}

/*toggle*/
::ng-deep .mat-slide-toggle .mat-slide-toggle-bar,
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color: #bdbdbd;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color: #252a37;
}

/*sliders*/
::ng-deep .mat-slider.mat-slider-vertical .mat-slider-thumb-label,
::ng-deep .mat-slider.mat-slider-vertical .mat-slider-thumb{
  background-color: #252a37;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-thumb{
  right: -10.3px;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-thumb{
  right: -10.3px;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-background,
::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-fill {
  background-color: #475571;
  width: 100%;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-wrapper,
::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-fill{
  width: 3px;
}

::ng-deep .mat-slider-vertical{
  height: 100%;
  min-height: 13vw;
  max-height: 13vw;
}

.terra-details-center{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.vertical-progressbar-wrapper{
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  width: 70px;
}

.vertical-progressbar{
  display: flex;
  margin-top: 10px;
}

.vertical-progressbar-ticks{
  margin-top: -1px;
  margin-right: 4px;
  text-align: right;
  font-size: 10px;
  line-height: 12px;
  font-family: "Roboto", sans-serif;
}

.vertical-progressbar-background{
  display: flex;
  flex-direction: column-reverse;
  height: 250px;
  width: 12px;
  border-radius: 5px;
  background: #e3e3e3;
  box-shadow: 0 -5px 10px -2px rgba(0, 0, 0, 0.1), 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.vertical-progressbar-fill{
  width: 12px;
  border-radius: 5px;
  background-color: #454c66;
}

.vertical-progressbar-wrapper .thermometer-icon{
  height: 68px;
  width: 26px;
  margin-left: 23px;
}

.vertical-progressbar-wrapper .humidity-icon{
  height: 68px;
  width: 45px;
  margin-left: 17px;
}

.vertical-progressbar-wrapper .brightness-icon{
  height: 68px;
  width: 68px;
  margin-left: 6px;
}

.vertical-progressbar-wrapper .bulb-uva-icon,
.vertical-progressbar-wrapper .bulb-uvb-icon{
  height: 68px;
  width: 43px;
  margin-left: 25px;
}

.vertical-progressbar-wrapper .water-container-icon{
  height: 68px;
  width: 56px;
  margin-left: 10px;
}



@media only screen and (min-width: 2300px){

  .terra-details-top-left-container{
    padding-right: 50px;
    padding-top: 50px;
  }

  .terra-details-top-left .robot-img{
    width: 230px;
    height: 230px;
  }

  .terra-details-top-left span{
    margin-top: 11px;
  }

  .terra-details-top-middle{
    width: 851px;
  }

  .terra-details-top-middle .terra-img{
    width: 805px;
    height: 391px;
    margin-right: 46px;
  }

  .terra-details-top-right-slider-container{
    width: 92px;
    padding-top: 10px;
  }

  .terra-details-top-right-bulb-tear-icon{
    height: 64.4px;
    width: 48.3px;
  }

  .terra-details-top-right-bulb-tear-icon__fill{
    height: 64.4px;
    width: 48.3px;
  }

  .terra-details-top-right-sun-icon{
    height: 64.4px;
    width: 69px;
  }

  .terra-details-top-right-sun-icon__fill{
    height: 64.4px;
    width: 69px;
  }

  .vertical-progressbar{
    margin-top: 20px;
  }

  .vertical-progressbar-wrapper{
    margin-right: 70px;
  }

  .vertical-progressbar-wrapper .thermometer-icon{
    margin-left: 37px;
  }

  .vertical-progressbar-wrapper .humidity-icon{
    margin-left: 30px;
  }

  .vertical-progressbar-wrapper .brightness-icon{
    margin-left: 20px;
  }

  .vertical-progressbar-wrapper .bulb-uva-icon,
  .vertical-progressbar-wrapper .bulb-uvb-icon{
    margin-left: 39px;
  }

  .vertical-progressbar-wrapper .water-container-icon{
    margin-left: 25px;
  }


  .vertical-progressbar-background{
    height: 300px;
  }

  .vertical-progressbar-ticks{
    line-height: 15px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {

  .terra-details-top-right-slider-container{
    width: 3.8vw;
  }
}

@media only screen and (max-width: 960px){

  .terra-details-top-left-container{
    padding-right: 30px;
  }

  .terra-details-top-left .robot-img{
    width: 90px;
    height: 90px;
    margin-bottom: 4px;
  }

  .terra-details-top-left span{
    margin-top: 5px;
  }

  .terra-details-top-middle{
    width: 333px;
  }

  .terra-details-top-middle .terra-img{
    width: 315px;
    height: 153px;
    margin-right: 18px;
  }

  .terra-details-top-right-slider-container{
    width: 40px;
    padding-top: 10px;
  }
  .terra-details-top-right-bulb-tear-icon{
    width: 18.9px;
    height: 25.2px;
  }

  .terra-details-top-right-bulb-tear-icon__fill{
    width: 18.9px;
    height: 25.2px;
  }

  .terra-details-top-right-sun-icon{
    width: 27px;
    height: 25.2px;
  }

  .terra-details-top-right-sun-icon__fill{
    width: 27px;
    height: 25.2px;
  }

  .terra-details-top-right input{
    width: 20px;
    height: 14px;
    margin-top: 2px;
  }

  .terra-details-center{
    padding-top: 25px;
  }

  .vertical-progressbar-wrapper{
    margin-right: 30px;
  }
}

@media only screen and (max-width: 768px){
  .terra-details-top{
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .terra-details-top-left{
    order:1;
    justify-content: flex-end;
    width: auto;
    margin-left: 15vw;
    margin-right: 2vw;
    margin-top: 2.5vw;
  }

  .terra-details-top-left-container{
    padding: 10px 0 0 0;
  }

  .terra-details-top-left-container .robot-img{
    width: 24vw;
    height: 23vw;
  }

  .terra-details-top-middle{
    order: 0;
    width: 100%;
  }

  .terra-details-top-middle .terra-img{
    height: 38vw;
    width: 77vw;
    margin-right: 0;
  }

  .terra-details-top-right{
    order: 2;
    width: auto;
  }

  .terra-details-top-right-slider-container{
    width: 8vw;
    margin-left: 1vw;
  }

  ::ng-deep .mat-slider-vertical{
    min-height: 26vw;
    max-height: 26vw;
    height: 26vw;
  }

  .terra-details-top-right-bulb-tear-icon{
    width: 4vw;
    height: 5vw;
  }

  .terra-details-top-right-bulb-tear-icon__fill{
    width: 4vw;
    height: 5vw;
  }

  .terra-details-top-right-sun-icon{
    width: 5.5vw;
    height: 5vw;
  }

  .terra-details-top-right-sun-icon__fill{
    width: 5.5vw;
    height: 5vw;
  }

  .terra-details-top-right input{
    width: 4vw;
    height: 3vw;
    font-size: 1.5vw;
  }

}













