<div class="terra-details-container">
  <div class="terra-details-top">

    <div class="terra-details-top-left">
      <img src="assets/terrariumsAssets/robot.png" class="robot-img" alt="turn_ON_SI">
      <mat-slide-toggle></mat-slide-toggle>
      <span>OFF / ON</span>
    </div>

    <div class="terra-details-top-middle">
      <img src="assets/terrariumsAssets/terrarium.png" class="terra-img" alt="terrarium_img">
    </div>

    <div class="terra-details-top-right">
      <div class="terra-details-top-right-ico">
        <img src="assets/terrariumsAssets/bulb.png" alt="bulb_icon" style="height: 2.8vw; width: 2.1vw; margin-right: 2.3vw;">
        <img src="assets/terrariumsAssets/tear.png" alt="tear_icon" style="height: 2.8vw; width: 2.1vw; margin-right: 1.8vw;">
        <img src="assets/terrariumsAssets/sunrise.png" alt="sunrise_icon" style="height: 2.8vw; width: 3vw; margin-right: 1.4vw;">
        <img src="assets/terrariumsAssets/sunset.png" alt="sunset_icon" style="height: 2.8vw; width: 3vw; margin-right: 1.4vw;">
        <img src="assets/terrariumsAssets/sun-speed.png" alt="suns_speed_icon" style="height: 2.8vw; width: 3vw;">
      </div>
      <div class="terra-details-top-right-sliders">
        <mat-slider vertical thumbLabel ></mat-slider>
        <mat-slider vertical thumbLabel ></mat-slider>
        <mat-slider vertical thumbLabel ></mat-slider>
        <mat-slider vertical thumbLabel ></mat-slider>
        <mat-slider vertical thumbLabel ></mat-slider>
      </div>
    </div>

  </div>
</div>
