<div class="terra-details-container">
  <div class="terra-details-top">

      <div class="terra-details-top-left">
        <div class="terra-details-top-left-container">
          <img src="assets/terrariumsAssets/robot.png" class="robot-img" alt="turn_ON_SI">
          <mat-slide-toggle></mat-slide-toggle>
          <span>OFF / ON</span>
        </div>
      </div>

    <div class="terra-details-top-middle">
      <img src="assets/terrariumsAssets/terrarium.png" class="terra-img" alt="terrarium_img">
    </div>

      <div class="terra-details-top-right">
        <div class="terra-details-top-right-slider-container">
          <img src="assets/terrariumsAssets/bulb.png" alt="bulb_icon" class="terra-details-top-right-bulb-tear-icon">
<!--          clip:rect(0,2.1vw ,2.8vw,0);-->
          <img src="assets/terrariumsAssets/bulb-fill.png" alt="bulb_icon"  class="terra-details-top-right-bulb-tear-icon__fill" style="{{fillTargetLightPower()}}">
          <mat-slider vertical thumbLabel [(ngModel)]="targetLightPower"></mat-slider>
          <input label="dsa" [(ngModel)]="targetLightPower">
        </div>

        <div class="terra-details-top-right-slider-container">
          <img src="assets/terrariumsAssets/tear.png" alt="tear_icon" class="terra-details-top-right-bulb-tear-icon">
          <img src="assets/terrariumsAssets/tear-fill.png" alt="tear_icon" class="terra-details-top-right-bulb-tear-icon__fill" style="{{fillTargetHumidity()}}">
          <mat-slider vertical thumbLabel [(ngModel)]="targetHumidity"></mat-slider>
          <input [(ngModel)]="targetHumidity">
        </div>

        <div class="terra-details-top-right-slider-container">
          <img src="assets/terrariumsAssets/sunrise.png" alt="sunrise_icon" class="terra-details-top-right-sun-icon">
          <img src="assets/terrariumsAssets/sunrise-fill.png" alt="sunrise_icon" class="terra-details-top-right-sun-icon__fill" style="{{fillSunrise()}}">
          <mat-slider vertical thumbLabel [(ngModel)]="sunrise"></mat-slider>
          <input [(ngModel)]="sunrise">
        </div>

        <div class="terra-details-top-right-slider-container">
          <img src="assets/terrariumsAssets/sunset.png" alt="sunset_icon" class="terra-details-top-right-sun-icon">
          <img src="assets/terrariumsAssets/sunset-fill.png" alt="sunset_icon" class="terra-details-top-right-sun-icon__fill" style="{{fillSunset()}}">
          <mat-slider vertical thumbLabel [(ngModel)]="sunset"></mat-slider>
          <input [(ngModel)]="sunset">
        </div>

        <div class="terra-details-top-right-slider-container">
          <img src="assets/terrariumsAssets/sun-speed.png" alt="suns_speed_icon" class="terra-details-top-right-sun-icon">
          <img src="assets/terrariumsAssets/sun-speed-fill.png" alt="suns_speed_icon" class="terra-details-top-right-sun-icon__fill" style="{{fillSunSpeed()}}">
          <mat-slider vertical thumbLabel [(ngModel)]="sunSpeed"></mat-slider>
          <input [(ngModel)]="sunSpeed">
        </div>
      </div>
  </div>

  <hr>

  <div class="terra-details-center">
    <div class="vertical-progressbar">
      <div class="vertical-progressbar-background">
        <div class="vertical-progressbar-fill"></div>
      </div>

    </div>


  </div>

</div>





