@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.sidenav-container{
  height: 100%;
}

.sidenav-menu {
  width: 310px;
  background:#4CAF50;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: none;
}

.sidenav-menu .logo {
  margin: 35px 0 35px 0;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: white;
  font-size: 70px;
  text-align: center;
}

::ng-deep .sidenav-menu .mat-list-item-content {
  justify-content: center;
}

.sidenav-menu .mat-list-item{
  height: 70px;
  color: white;
  font-size: 23px;
  border: 1px none #66d96a;
  border-top-style: solid;
}

.sidenav-menu .mat-list-item:hover{
  background: #66d96a;
}

.sidenav-menu .mat-list-item:focus{
  background:#4CAF50;
}

.sidenav-menu .mat-list-item:focus:hover{
  background:#66d96a;
}

.sidenav-menu .mat-list-item:last-child{
  border-bottom-style: solid;
  border-top-style: solid;
}

.sidenav-content{
  background: whitesmoke;
}

.sidenav-content .mat-toolbar{
  display: none;
}

@media only screen and (max-width: 1130px){
  .sidenav-menu {
    width: 27vw;
  }
}

@media only screen and (max-width: 960px){

  .sidenav-menu {
    width: 250px;
  }

  .sidenav-content .mat-toolbar{
    display: flex;
    background:#4CAF50;
  }

  .sidenav-content .mat-toolbar .logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: white;
    font-size: 35px;
  }
}






