@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.sidenav-container {
  height: 100%;
}

.sidenav-menu {
  width: 310px;
  background: #252a37;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: none;
}

.sidenav-menu .logo {
  margin: 35px 0 35px 0;
  font-family: 'East Sea Dokdo', cursive;
  color: white;
  font-size: 110px;
  text-align: center;
}

::ng-deep .sidenav-menu .mat-list-item-content {
  justify-content: center;
}

.sidenav-menu .mat-list-item {
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  color: #e3e3e3;
  font-size: 23px;
  border: 1px none #575757;
  border-top-style: solid;
}

.sidenav-menu .mat-list-item:hover {
  background: #797979;
}

.sidenav-menu .mat-list-item:focus {
  background: #252a37;
}

.sidenav-menu .mat-list-item:focus:hover {
  background: #797979;
}

.sidenav-menu .mat-list-item:last-child {
  border-bottom-style: solid;
  border-top-style: solid;
}

.sidenav-content {
  background: #e3e3e3;
}

.sidenav-content .mat-toolbar {
  display: none;
}

.sidenav-content .mat-toolbar .wide-src-menu {
  display: none;
}

@media only screen and (min-width: 2300px) {
  .sidenav-content .mat-toolbar {
    display: flex;
    background: #252a37;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 65px;
  }

  .sidenav-content .mat-toolbar .logo {
    display: none;
  }

  .sidenav-content .mat-toolbar .wide-src-menu {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
  }

  .sidenav-content .mat-toolbar .wide-src-menu .logo {
    display: inherit;
  }

  .sidenav-content .mat-toolbar .wide-src-menu a {
    display: inherit;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #e3e3e3;
    font-size: 30px;
    text-decoration-line: none;
  }

  .sidenav-menu {
    display: none;
  }

}

@media only screen and (max-width: 1130px) {
  .sidenav-menu {
    width: 26vw;
  }

  .sidenav-menu .logo {
    font-size: 90px;
  }
}

@media only screen and (max-width: 960px) {

  .sidenav-menu {
    width: 250px;
  }

  .sidenav-content .mat-toolbar {
    display: flex;
    background: #252a37;
  }

  .sidenav-content .mat-toolbar .logo {
    font-family: 'East Sea Dokdo', cursive;
    color: white;
    font-size: 65px;
  }

}






