.workspace{
  width: 80vw;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info{
  width: 70vw;
  height: 30vh;
  background: #f4ffee;
  margin: 1vw 5vw 0 5vw;
}
