.home-container{
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
    z-index: 10;
}


@media (min-width: 768px){
    .home-container{
        gap: 30px;
    }
}