<div class="news-container">

  <div class="news-logo">
    <picture>
      <source media="(max-width: 768px)" srcset="../../../assets/homeAssets/logo_mobile.png">
      <img src="../../../assets/newsAssets/logo_news.png" class="news-top__img" alt="company_logo">
    </picture>
  </div>

  <div class="news-title">
    <h1>We've started working together</h1>
  </div>

  <div class="news-content">
    <h2>Lorem ipsum</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula sollicitudin euismod. Integer erat enim, dignissim ac maximus in, convallis placerat nunc. Ut dapibus tempor augue, id placerat mauris tincidunt at. Nullam a enim elit. Duis rhoncus ultricies massa et semper. Mauris dictum dui quam, ac semper dui ullamcorper eu. Donec fringilla iaculis blandit. Donec non elementum tellus. Fusce vestibulum tristique ipsum ac egestas. Pellentesque quis gravida elit. Sed pellentesque auctor nunc, at commodo orci interdum at. Etiam eu magna eget tortor sagittis dapibus quis porttitor turpis. Sed non mauris varius, imperdiet erat eget, rutrum nunc. Integer efficitur sollicitudin cursus. Suspendisse enim sapien, commodo et leo in, finibus aliquam mi. Ut tempus neque id enim molestie faucibus. <br><br>
    <h2>Lorem ipsum</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula sollicitudin euismod. Integer erat enim, dignissim ac maximus in, convallis placerat nunc. Ut dapibus tempor augue, id placerat mauris tincidunt at. Nullam a enim elit. Duis rhoncus ultricies massa et semper. Mauris dictum dui quam, ac semper dui ullamcorper eu. Donec fringilla iaculis blandit. Donec non elementum tellus. Fusce vestibulum tristique ipsum ac egestas. Pellentesque quis gravida elit. Sed pellentesque auctor nunc, at commodo orci interdum at. Etiam eu magna eget tortor sagittis dapibus quis porttitor turpis. Sed non mauris varius, imperdiet erat eget, rutrum nunc. Integer efficitur sollicitudin cursus. Suspendisse enim sapien, commodo et leo in, finibus aliquam mi. Ut tempus neque id enim molestie faucibus. <br><br>
    <h2>Lorem ipsum</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula sollicitudin euismod. Integer erat enim, dignissim ac maximus in, convallis placerat nunc. Ut dapibus tempor augue, id placerat mauris tincidunt at. Nullam a enim elit. Duis rhoncus ultricies massa et semper. Mauris dictum dui quam, ac semper dui ullamcorper eu. Donec fringilla iaculis blandit. Donec non elementum tellus. Fusce vestibulum tristique ipsum ac egestas. Pellentesque quis gravida elit. Sed pellentesque auctor nunc, at commodo orci interdum at. Etiam eu magna eget tortor sagittis dapibus quis porttitor turpis. Sed non mauris varius, imperdiet erat eget, rutrum nunc. Integer efficitur sollicitudin cursus. Suspendisse enim sapien, commodo et leo in, finibus aliquam mi. Ut tempus neque id enim molestie faucibus. <br><br>
    <div class="news-footer">
      Patryk Kania
    </div>
  </div>



</div>
