<app-main-nav>
  <div class="news-container" *ngIf="news != null">

    <div class="news-logo">
      <picture>
        <source media="(max-width: 768px)" srcset="{{news.imgNewsMobile}}">
        <img src="{{news.imgNews}}" class="news-top__img" alt="company_logo">
      </picture>
    </div>

    <div class="news-title">
      <h1>{{news.title}}</h1>
    </div>

    <div class="news-content">
      <div [innerHTML]="news.content"></div>
      <div class="news-footer">
        {{news.createUser}}
      </div>
    </div>
  </div>
</app-main-nav>
