.App {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 92%;
  background-color: #F4F7F6;
}

#root{
  height: 100%;
}

.content{
  height: 90%;
  z-index: 1;
}
